# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
*.pyo
*.pyd
*.pdb
*.log
*.sqlite3
*.env
*.DS_Store

# Virtual Environment
venv/
env/

# Temp & model files
temp_uploads/
image_captioning_model_assets/

# Jupyter / IPython
.ipynb_checkpoints/

# Svelte / Node
ui/node_modules/
ui/.svelte-kit/
ui/.vite/

# Build files
dist/
build/

# VSCode settings (opsional)
.vscode/
