secrets.txt
.env
/backend/venv
backend/__pycache__/app.cpython-312.pyc
backend/__pycache__/caption_generator.cpython-312.pyc
backend/__pycache__/instagram_uploader.cpython-312.pyc
backend/image_captioning_model_assets/cnn_encoder.weights.h5
backend/image_captioning_model_assets/inception_feature_extractor.keras
